[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
markdown = "*"
django-filter = "*"
djangorestframework = "*"
django-cors-headers = "*"
pyrebase = "*"
djangorestframework-simplejwt = "*"
djangorestframework-jwt = "*"

[requires]
python_version = "3.6"
