<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resetar senha</title>
</head>
<body>
    <div class="reset_password_form">
        <h1>Nova senha</h1>
        <form>
            <div>
                <label>Nova senha</label>
                <input id='new_password' name='new_password'/>
            </div>
            <div>
                <label>Confirmar nova senha</label>
                <input name='confirm_new_password'/>
            </div>
        </form>
        <button id='send'>Enviar</button>
    </div>
</body>
<script>
    document.getElementById('send').addEventListener('click', () => {
        let url = new URL(window.location.href);
        let new_password = document.getElementById('new_password').value;
        fetch('http://'+url.host+'/auth/users/reset_password_confirm/', {
            method: 'POST',
            headers: {
                'Content-type':'application/json'
            },
            body: JSON.stringify({
                uid: url.searchParams.get('uid'),
                token: url.searchParams.get('token'),
                new_password: new_password
            })
        }).then(res => {
            if(res.status == 204) {
                alert('Senha alterada com sucesso!')
            } else {
                res.json().then(json => {console.log(json)});
            }
        })
    })
</script>
</html>